<footer>
  <ul class="nav fw-500 footer-info">
    <li class="nav-item">
      <a href="#" class="nav-link text-dark">Help</a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link text-dark">Status</a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link text-dark">Writes</a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link text-dark">Blog</a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link text-dark">Careers</a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link text-dark">Privacy</a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link text-dark">Terms</a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link text-dark">About</a>
    </li>
  </ul>
</footer>
